* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

section {
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.header{
    position: absolute;
    top: 15px;
    z-index: 20;
    background-color: #f9f9f9;
    padding: 0px;
  }
  .logo_section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 5px;
  }

  .logo_section img{
    height: 40px;
    margin-top: 10px;
  }
  .logo_section span{
    margin-top: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  }
.top-band{
 padding: 0px 0px;
}

.main_nanbar{
    background-color: #f9f9f9;
}
.navbar ul li{
  margin: 0px 10px;
}
.navbar ul li a{
    color: #212022;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    padding: 10px;
    text-decoration: none;
    font-style: normal;
}



.mie_ride_banner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -moz-linear-gradient( -89deg, rgba(71,75,85,0.99608) 0%, rgb(71,75,85) 0%, rgb(57,60,67) 40%, rgb(22,22,22) 100%);
  background-image: -webkit-linear-gradient( -89deg, rgba(71,75,85,0.99608) 0%, rgb(71,75,85) 0%, rgb(57,60,67) 40%, rgb(22,22,22) 100%);
  background-image: -ms-linear-gradient( -89deg, rgba(71,75,85,0.99608) 0%, rgb(71,75,85) 0%, rgb(57,60,67) 40%, rgb(22,22,22) 100%);
 
}

.banner_main{
    margin-top: 50px;
}

 .banner_main #BannerIndicators .carousel-indicators{
 justify-content: space-between;
 margin-right:0% !important;
 margin-bottom: -1.5rem !important;
 margin-left: 0% !important;
  
 }
 .banner_main #BannerIndicators .carousel-indicators button{
  width: 10%;
  height: 2px;
  }
  .banner_main #BannerIndicators .carousel-indicators [data-bs-target] {
    border: 0px solid #fff;
}


.mie_ride_about{
    background-color: #f9f9f9;
    padding: 50px 0px;
    /* height: 100vh; */
    }

.mie_ride_about{
    background-color: #f9f9f9;
 }
 .mie_ride_about .main_title_line{
    padding-top: 20px;
    padding-bottom: 20px;
   }
   .mie_ride_about .main_title_line h4{
    color: #646464;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:300;  
    font-size: 20px;

 }
 .mie_ride_about .main_title_line p{
    color: #646464;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 13px;

 }

 .mie_ride_about_desc{
    margin-top: 20px;
    background-color: rgb(255, 198, 29);
  }
  .mie_ride_about_desc .mie_ride_about_desc_text p{
    padding: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 30px;
    color: #212022;
      
  }
  .mie_ride_about_desc .mie_ride_about_desc_text{
    padding:  40px 0px;
    
  }

  @media screen and (max-width:991px) {
    
    .mie_ride_about{ 
      padding-top: 50px;
      padding-bottom: 30px;
      }
      .mie_ride_about_desc .mie_ride_about_desc_text p {
        padding: 10px;
       font-size: 14px;
        letter-spacing: 2px;
        text-align: center;
        font-weight: 500;
        line-height: 25px;
        color: #212022;
    }
  
      .mie_ride_about p{
      font-size: 12px;
      }
     
      .mie_ride_about_desc .mie_ride_about_desc_text p{
      font-size: 16px;  
    }
  
    .mie_ride_about .main_title_line p{
      font-size: 12px; 

    }
    .mie_ride_about .main_title_line{
        padding-top: 0px;
        padding-bottom: 0px;
       }
    .mie_ride_about_desc .mie_ride_about_desc_text{
      padding:  40px 0px;  
    }
  }

#services {
    background: #0099cc;
}

#contact {
    background: #333;
    color: white;
}




.content {
    max-width: 80%;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}